@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    position: fixed;
}

#banner {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  header {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    nav {
      background-color: #8838ff;
      width: 100vw;
      height: 10vh;
      display: flex;
      justify-content: space-around;

      .logo {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 20px;
          margin: auto;
          text-transform: uppercase;
          color: white;
          margin: auto 0;
          cursor: pointer;
          font-family: "Satisfy", cursive;
          font-weight: 900;
        }
      }

      ul {
        display: flex;
        justify-content: space-around;
        width: 50%;
        float: right;
        display: flex;
        height: 100%;
        align-items: center;
        overflow: hidden;
        a {
          text-decoration: none;

          li {
            list-style-type: none;
            color: white;
            font-family: "Fredoka One", cursive;
          }
        }
      }

      .burger {
        height: 100%;
        width: 5%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display :none;
        img {
          height: 50%;
          margin : auto 0;
          transform: translateY(40%);
          margin : 0 auto;
          transition : transform 2s ease;
        }
      }
    }
  }
}


@media only screen and (min-width: 200px) and (max-width: 755px) {
  #banner {
    overflow: hidden;
    header {
        overflow-x: hidden;
      nav {
        .logo {
          width: 50%;
          float: left;
          margin-left: -20%;
          overflow-x: hidden;
        }

        ul {
            position: absolute;
            height : 92vh;
            width: 100vw;
            flex-direction: column;
            position: absolute;
            top: 9vh;
            background-color: #8838ff;
            left: 100vw;
            overflow-x: hidden;
          a {
            overflow: hidden;
            li {
                overflow: hidden;
            }
          }
        }

        .burger{
            display : block;
            transition: 2s ease-in-out;
        }
      }
    }
  }
}

// display: flex;
// justify-content: center;
// align-items: center;
