@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#banner {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#banner header {
  width: 100vw;
  height: 100vh;
}

#banner header nav {
  background-color: #8838ff;
  width: 100vw;
  height: 11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#banner header nav .logo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner header nav .logo h1 {
  font-size: 20px;
  margin: auto;
  text-transform: uppercase;
  color: white;
  margin: auto 0;
  cursor: pointer;
  font-family: "Satisfy", cursive;
  font-weight: 900;
}

#banner header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  float: right;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner header nav ul a {
  text-decoration: none;
}

#banner header nav ul a li {
  list-style-type: none;
  color: white;
  font-family: "Fredoka One", cursive;
}

#banner header nav .burger {
  height: 100%;
  width: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: none;
}

#banner header nav .burger img {
  height: 50%;
  margin: auto 0;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  margin: 0 auto;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

#banner header .bg {
  width: 100vw;
  height: 100vh;
}

#banner header .bg .img {
  width: 100%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1533&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#banner header .bg .img h1 {
  font-size: 700%;
  font-family: "Fredoka One", cursive;
  color: transparent;
  color: #8838ff;
}

#banner header .bg .img h2 {
  font-size: 350%;
  font-family: "Fredoka One", cursive;
  color: #8838ff;
}

#banner header .bg .img p {
  font-family: "Fredoka One", cursive;
  font-size: 150%;
}

#banner header .bg .img button {
  font-family: "Fredoka One", cursive;
  border-radius: 100px;
}

@media only screen and (min-width: 200px) and (max-width: 755px) {
  #banner header nav .logo {
    width: 50%;
    float: left;
    margin-left: -20%;
  }
  #banner header nav ul {
    position: absolute;
    height: 95vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 10vh;
    background-color: #8838ff;
    left: 100vw;
    display: none;
    overflow: hidden;
  }
  #banner header nav .burger {
    display: block;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  #banner header .bg .img {
    background: url(https://images.unsplash.com/photo-1505673542670-a5e3ff5b14a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80);
    background-size: cover;
    background-attachment: fixed;
  }
  #banner header .bg .img p {
    color: aliceblue;
  }
}
/*# sourceMappingURL=index.css.map */